#Contact {
    position: relative;
    height: 500px;
    background: #181818;
}

#Contact > h1 {
    position: relative;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding-top: 28px;
    color: white;
}

#Contact > aside {
    position: absolute;
    top: 100px;
    width: 50%;
    height: 30%;
}

.contact-right {
    left: 50%;
    width: 30%;
}

#Contact > h4 {
    position: relative;
    color: white;
    text-align: center;
    top: 68%;
    padding-top: 10px;
}

#Contact > h4:before {
    content: "";
    display: block;
    width: 95%;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
}

.contact-left {
    left: 100px;
}

.contact-left > h1 {
    color: white;
}
