#Contact {
    position: relative;
    height: 300px;
    background: #181818;
}

.container {
    display: flex;
    height: 40%;
    /*background-color: red;*/
}

.container > div {
    height: 100%;
    width: 25%;
}

.contact-detail {
    position: relative;
}

.contact-detail > i {
    font-size: 24px;
    color: whitesmoke;
    position: absolute;
    bottom: 22px;
    left: 30px;
}

.contact-detail > i > h4 {
    font-size: 15px;
    display: inline-block;
    margin-left: 18px;
    letter-spacing: 1px;
    font-family: Poppins;
}

.contact-detail > h3 {
    color: whitesmoke;
    bottom: 0;
    position: absolute;
    left: 65px;
    font-size: 12px;
    font-family: Poppins;
}

.social-profile {
    margin-top: 50px;
    color: whitesmoke;
    left: 47%;
    position: absolute;
    font-family: Poppins;
}

.name-icon {
    position: relative;

}

.name-icon > h3 {
    font-family: Creepster, cursive;
    color: #edc606;
    margin-left: 43px;
    bottom: 8px;
    position: absolute;
    font-size: 40px;
}

.contact-media {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.contact-media > li {
    margin: 20px;
    list-style: none;
}

.contact-media > li > a > i {
    font-size: 25px;
    color: whitesmoke;
}

.contact-media > li > a > i:hover {
    color: #615CFD;
}

.rights {
    color: whitesmoke;
    position: absolute;
    left: 42%;
    margin-top: 10px;
    font-size: 12px;
}