#Project {
    position: relative;
    height: 880px;
    padding-top: 12px;
}

#Project > h1 {
    position: relative;
    top: 10%;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    color: #001D38;
}

#Project > h1:before {
    position: absolute;
    height: 60px;
    width: 1px;
    background: #615CFD;
    content: '';
    left: 50%;
    bottom: 100%;
}

.project-content {
    width: 66%;
    margin-top: 10%;
    margin-left: 17%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.project-content > div {
    width: 379px;
    height: 344px;
    border: 1px solid #E8E8E8;
    background-color: #181818;
}

.project-content > div:hover {
    border: 1px solid #615CFD;
}

.img {
    background: url("../assets/CarParking.png ");
    background-size: cover;
    background-position: center;
    height: 50%;
    border-radius: 0 0 12px 12px;
}

.project-details {
    height: 50%;
}

.project-details > h3 {
    color: white;
}

.project-details > p {
    margin-top: 15px;
    color: #727272;
}

.project-details > i {
    margin-top: 50px;
    color: #727272;
    font-size: 25px;
}

#Project > a > button {
    position: absolute;
    left: 47%;
    bottom: 14%;
}