::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    height: 100vh;
    width: 100vw;
    background-color: #1a1a1a;
    /*font-family: 'Poppins', sans-serif;*/
}

.logo {
    width: 50px;
    height: auto;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding-top: 10px;
    padding-left: 12%;
    padding-right: 12%;
    position: fixed;
    z-index: 5;
}

nav > ul > li {
    list-style: none;
    display: inline-block;
    padding: 0px 25px;
    z-index: 7;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

nav > ul > li > a:hover {
    color: aqua;
    transition: .3s;
}

.sticky {
    height: 70px;
    background: rgb(0, 0, 0);
    transition: 0.3s;
}

.main-text {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translateY(-15%);
}

.main-text > h1 {
    font-size: 120px;
    color: #3c3c3c;
    font-weight: 800;
    line-height: 120px;
}

.main-text > h2 {
    position: absolute;
    margin-top: 50px;
    left: 60px;
    font-size: 25px;
}

span {
    color: yellow;
    letter-spacing: 2px;
}

.main-img {
    position: absolute;
    width: 50%;
    height: 100%;
    bottom: 0;
    right: 63%;
    text-align: right;
}

.main-img > img {
    height: 100%;
}

.social-media {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    padding: 10px 24px;
}

.social-media > img {
    padding: 0 4px;
    cursor: pointer;
}

#About {
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 400px;
    width: 1040px;
    left: 24%;
    border-radius: 30px;
    box-shadow: 6px 6px 6px rgb(0 0 0 / 25%);
    background-color: rgba(200.00000327825546, 204.00000303983688, 231.00000143051147, 1);
}

#About > img {
    left: 210px;
    position: absolute;
    top: -65px;

}

#About > h1 {
    font-size: 45px;
    text-align: center;
    padding: 20px;

}

#About > p {
    position: absolute;
    width: 600px;
    left: 110px;
    font-size: 27px;
    margin-top: 25px;
}

#About > button {
    position: absolute;
    margin-top: 20%;
    left: 110px;
    background-color: rgba(41.00000135600567, 91.00000217556953, 127.00000002980232, 1);
    width: 156px;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;

}

#About > button:hover{

    border-color: aqua;
}

#Skills {
    position: relative;
    background-color: yellow;
    height: 400px;
    width: 400px;
}