/*::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
    background-color: #181818;
}

#logo {
    font-size: 30px;
    color: #fff;
}

#manu {
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding-top: 10px;
    padding-left: 12%;
    padding-right: 12%;
    position: fixed;
    z-index: 5;
}

nav > ul > li {
    list-style: none;
    display: inline-block;
    padding: 0 25px;
    z-index: 7;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

nav > ul > li > a:hover {
    color: #615CFD;
    transition: 0.3s;
}

.sticky {
    height: 60px;
    background: #181818;
    transition: 0.3s;
}

.main-container {
    width: 50%;
    height: 50%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.main-text {
    text-align: center;
    margin-top: 6em;
}

.main-text > h1 {
    font-size: 3.6em;
    color: #ffffff;
    font-family: 'Exo 2', sans-serif;
}

.main-text > h2 {
    margin-top: 3%;
    color: yellow;
    letter-spacing: 2px;
}

.social-media {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.social-media > ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-media > ul > li {
    margin-right: 3%;
}

.social-media > ul > li > a > i {
    font-size: 2.5rem;
    color: white;
    transition-property: all;
    transition-duration: .3s;
}

.social-media > ul > li > a > i:hover {
    transform: scale(1.2);
    color: #615CFD;
    transition-property: all;
    transition-duration: .3s;
}

button {
    background: #615CFD;
    color: #fff;
    font-family: "Muli", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 38px;
    border: 0;
    border: 1px solid transparent;
    border-radius: 0px;
    text-align: center;
}

button:hover {
    background-color: white;
    color: #615CFD;
    border-color: #615CFD;
    cursor: pointer;
}

#About {
    position: relative;
    height: 600px;
}

.about-container {
    width: 60%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.img-container {
    display: flex;
}

.img-container > h1 {
    flex-basis: 69%;
    align-self: self-end;
    font-weight: 800;
    color: rgb(245, 246, 247);
    font-size: 14rem;
    line-height: 1;
    font-family: Poppins, sans-serif;
}

.img-container > img {
    align-self: self-end;
    width: 26%;
}

.about-content {
    position: relative;
    top: -20%;
    height: 75%;

    display: flex;
}

.about-content > div:nth-child(1) {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.about-content > div:nth-child(1) > h1 {
    position: relative;
    font-size: 40px;
    font-weight: 700;
    color: rgb(0, 29, 56);
    font-family: Poppins, sans-serif;
    top: -14%;
}

.about-content > div:nth-child(1) > p {
    font-weight: 400;
    color: #727272;
}

.about-content > div:nth-child(1) > button {
    align-self: self-start;
    position: relative;
    top: 3%;
}

.about-content > div:nth-child(2) {
    align-self: self-end;
    width: 50%;
    height: 100%;
}

.about-content > div:nth-child(2) > img {
    width: 55%;
}

.education-skill-container {
    position: relative;
    height: 600px;
}

.education-skill-content {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 60%;

    display: flex;
}

#Education {
    height: 100%;
    width: 50%;
    position: relative;
}

.education-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education-content > h1 {
    position: relative;
    margin-top: 80px;
    font-size: 26px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #001D38;
}

.education-content > h1 > i {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    color: #615CFD;
}

.education-content > h2 {
    margin-top: 8px;
    font-size: 25px;
    text-align: center;
    color: #3c3c3c;
}

.education-chart {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.education-chart > div {
    padding: 3px 0 27px 22px;
    margin-top: 0;
    border-left: 2px solid #615CFD;
    position: relative;
}

.education-chart > div:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -11px;
    top: 0;
    background: #fff;
    border: 2px solid #615CFD;
}

.education-chart > div > h2 {
    font-size: 16px;
    color: rgb(122, 122, 122);
    width: 37px;
}

.education-chart > div > h3 {
    font-style: italic;
    font-size: 14px;
}

#Skills {
    height: 100%;
    width: 50%;
    position: relative;
}

.skill-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-content > h1 {
    position: relative;
    margin-top: 80px;
    font-size: 26px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #001D38;
}

.skill-content > h1 > i {
    width: 25px;
    height: 25px;
    margin-right: 8px;
    color: #615CFD;
}

.skill-content > h2 {
    margin-top: 8px;
    font-size: 25px;
    text-align: center;
    color: #3c3c3c;
}

.skill-content > div {
    display: flex;
    margin-top: 50px;
}

.frontend > h3 {
    text-align: center;
    margin-bottom: 20px;
}

.frontend > ul {
    margin-left: 50px;
    margin-bottom: 20px;
}

.frontend > ul > i {
    margin-top: 8px;
    color: #3a3737;
}

.backend {
    margin-left: 12px;
}

.backend > h3 {
    text-align: center;
    margin-bottom: 20px;
}

.backend > ul {
    margin-left: 50px;
    margin-bottom: 20px;
}

.backend > ul > i {
    margin-top: 8px;
    color: #3a3737;
}

.icon {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon > i {
    font-size: 30px;
    margin-right: 10px;

}

#Project {
    position: relative;
    height: 750px;
    padding-top: 12px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

#Project > h1 {
    position: relative;
    margin-top: 5%;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    color: #001D38;
}

#Project > h1:before {
    position: absolute;
    height: 60px;
    width: 1px;
    background: #181818;
    content: '';
    left: 50%;
    bottom: 100%;
}

.project-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.project-content {
    display: flex;
}

.project-content > div {
    background: #2a2a2a;
    margin-left: 3%;
    height: 30vh;
    width: 30vw;
    transition-property: all;
    transition-duration: .5s;
}

.project-content > div:hover {
    transform: scale(1.02);
    transition-property: all;
    transition-duration: .5s;
    box-shadow: 4px 4px 8px 2px #1c1717e8;
}

.project-container > a {
    margin-top: 5%;
    align-self: center;
}

.img {
    height: 50%;
    border-radius: 0 0 12px 12px;
    background: url("../assets/CarParking.png");
    background-size: cover;
    background-position: center;
}

.project-details {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #727272;
}

.project-details > div {
    display: flex;
    justify-content: space-around;
}

.project-details > h3 {
    color: #e3dcdc;
}

.project-details > div > a > i {
    font-size: 25px;
    color: #727272;
}

.project-details > div > a > i:hover {
    color: #615CFD;
}

#Contact {
    position: relative;
    height: 350px;
    background: #181818;
    display: flex;
    flex-direction: column;
}

.contact-info {
    height: 50%;
    display: flex;
}

.contact-media {
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-box {
    height: 100%;
    width: 25%;
}

.other-box {
    width: 50%;
    height: 30%;
}

.name-icon {
    font-family: Creepster, cursive;
    font-size: 35px;
    position: relative;
    margin-top: 20%;
    margin-left: 9%;
    color: #edc606;
}

.other-box {
    color: white;
    text-align: center;
}

@media all and (max-width: 1350px) {

    .img-container > img {
        display: none;
    }

    .img-container > h1 {
        font-size: 9rem;
    }

    #Project {
        height: 750px;
    }

    .project-container {
        width: 70%;
    }

    .project-content > div {
        margin-top: 3%;
        width: 45vw;
        height: 45vh;
    }
}

@media all and (max-width: 980px) {

    /*nav {*/
    /*    display: flex;*/
    /*}*/
    #manu {
        display: inline-block;
        color: white;
        font-size: 30px;
    }

    /**/
    /*#manu:active {*/
    /*    color: red;*/
    /*}*/
    /*#manu:active .sticky{*/
    /*    background: red !important;*/
    /*}*/
    nav > ul {
        display: none;
        /*flex-direction: column;*/
    }

    .main-text > h1 {
        font-size: 2.8em;
    }

    .main-text > h2 {
        margin-top: 5%;
        font-size: 1.2em;
    }

    .social-media > ul > li > a > i {
        font-size: 2.3rem;
    }

    .education-skill-container {
        height: 1200px;

    }

    .education-skill-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #Project {
        height: 1400px;
    }

    .project-container {
        margin-top: 0;
    }

    .project-content {
        margin-top: 10%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}

@media all and (max-width: 650px) {
    #Project {
        height: 1240px;
    }


    .project-content > div {
        margin-top: 3%;
        width: 65vw;
        height: 40vh;
    }
}