/*::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
    width: 99vw;
    background-color: #1a1a1a;
    /*font-family: 'Poppins', sans-serif;*/
}

.logo {
    width: 50px;
    height: auto;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding-top: 10px;
    padding-left: 12%;
    padding-right: 12%;
    position: fixed;
    z-index: 5;
}

nav > ul > li {
    list-style: none;
    display: inline-block;
    padding: 0 25px;
    z-index: 7;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

nav > ul > li > a:hover {
    color: aqua;
    transition: .3s;
}

.sticky {
    height: 70px;
    background: rgb(0, 0, 0);
    transition: 0.3s;
}

.main-text {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translateY(-15%);
}

.main-text > h1 {
    font-size: 120px;
    color: #3c3c3c;
    font-weight: 800;
    line-height: 120px;
}

.main-text > h2 {
    position: absolute;
    margin-top: 50px;
    left: 60px;
    font-size: 25px;
}

span {
    color: yellow;
    letter-spacing: 2px;
}

.main-img {
    position: absolute;
    width: 50%;
    height: 100%;
    bottom: 0;
    right: 63%;
    text-align: right;
}

.main-img > img {
    height: 100%;
}

.social-media {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    padding: 10px 24px;
}

.social-media > a {
    padding: 0 4px;
    cursor: pointer;
}

#About {
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 400px;
    width: 1040px;
    left: 24%;
    border-radius: 30px;
    box-shadow: 6px 6px 6px rgb(0 0 0 / 25%);
    background-color: rgba(200.00000327825546, 204.00000303983688, 231.00000143051147, 1);
}

#About > img {
    left: 160px;
    position: absolute;
    top: -65px;

}

#About > h1 {
    font-size: 36px;
    text-align: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

#About > p {
    position: absolute;
    width: 600px;
    left: 110px;
    font-size: 24px;
    margin-top: 25px;
}

#About > button {
    position: absolute;
    margin-top: 20%;
    left: 110px;
    background-color: rgba(41.00000135600567, 91.00000217556953, 127.00000002980232, 1);
    width: 156px;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#About > button:hover {
    border-color: aqua;
}

#Education {
    margin-top: 150px;
    position: relative;
    height: 800px;
    width: 50vw;
    display: inline-block;
}

#Education > h1 {
    position: relative;
    font-size: 36px;
    text-align: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

#Education > h1:before {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 25%;
    top: 50%;
}

#Education > h1:after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    position: absolute;
    right: 23%;
    top: 50%;
}

#Education > h1 > img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#Education > img {
    width: 300px;
}

#Skills {
    margin-top: 150px;
    position: absolute;
    height: 800px;
    width: 50vw;
    display: inline-block;
    right: 0;
}

#Skills > h1 {
    position: relative;
    font-size: 36px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

#Skills > h1:before {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 25%;
    top: 50%;
}

#Skills > h1:after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    position: absolute;
    right: 23%;
    top: 50%;
}

#Skills > h1 > img {
    width: 50px;
    height: 50px;
    margin-right: -8px;
}

#Project {
    position: relative;
    height: 500px;
}

#Project > h1 {
    position: relative;
    font-size: 36px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

#Project > h1:before {
    content: "";
    display: block;
    width: 1330px;
    height: 3px;
    background: #a19d9d;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
}