/*::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
    background-color: #181818;
}

#logo {
    font-size: 30px;
    color: #fff;
}

#manu {
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding-top: 10px;
    padding-left: 12%;
    padding-right: 12%;
    position: fixed;
    z-index: 5;
}

nav > ul > li {
    list-style: none;
    display: inline-block;
    padding: 0 25px;
    z-index: 7;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

/*nav > ul > li.active {
    border-bottom: 2px solid #615CFD;
    transition: 0.3s ease background-color;
}

nav > ul > li.active > a {
    color: #615CFD;
}*/

nav > ul > li > a:hover {
    color: #615CFD;
    transition: 0.3s;
}

.sticky {
    height: 60px;
    background: #181818;
    transition: 0.3s;
}

.main-container {
    width: 50%;
    height: 50%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.main-text {
    text-align: center;
    margin-top: 6em;
}

.main-text > h1 {
    font-size: 3.6em;
    color: #ffffff;
    font-family: 'Exo 2', sans-serif;
}

.main-text > h2 {
    margin-top: 3%;
    color: yellow;
    letter-spacing: 2px;
}

.social-media {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.social-media > ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-media > ul > li {
    margin-right: 3%;
}

.social-media > ul > li > a > i {
    font-size: 2.5rem;
    color: white;
    transition-property: all;
    transition-duration: .3s;
}

.social-media > ul > li > a > i:hover {
    transform: scale(1.2);
    color: #615CFD;
    transition-property: all;
    transition-duration: .3s;
}

button {
    background: #615CFD;
    color: #fff;
    font-family: "Muli", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 38px;
    border: 0;
    border: 1px solid transparent;
    border-radius: 0px;
    text-align: center;
}

button:hover {
    background-color: white;
    color: #615CFD;
    border-color: #615CFD;
    cursor: pointer;
}

#About {
    position: relative;
    height: 600px;
}

.about-container {
    width: 60%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.img-container {
    display: flex;
}

.img-container > h1 {
    flex-basis: 69%;
    align-self: self-end;
    font-weight: 800;
    color: rgb(245, 246, 247);
    font-size: 14rem;
    line-height: 1;
    font-family: Poppins, sans-serif;
}

.img-container > img {
    align-self: self-end;
    width: 26%;
}

.about-content {
    position: relative;
    top: -20%;
    height: 75%;

    display: flex;
}

.about-content > div:nth-child(1) {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.about-content > div:nth-child(1) > h1 {
    position: relative;
    font-size: 40px;
    font-weight: 700;
    color: rgb(0, 29, 56);
    font-family: Poppins, sans-serif;
    top: -14%;
}

.about-content > div:nth-child(1) > p {
    font-weight: 400;
    color: #727272;
}

.about-content > div:nth-child(1) > button {
    align-self: self-start;
    position: relative;
    top: 3%;
}

.about-content > div:nth-child(2) {
    align-self: self-end;
    width: 50%;
    height: 100%;
}

.about-content > div:nth-child(2) > img {
    width: 320px;
}

.education-skill-container {
    position: relative;
    height: 600px;
}

.education-skill-content {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 60%;

    display: flex;
}

#Education {
    height: 100%;
    width: 50%;
    position: relative;
}

.education-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education-content > h1 {
    position: relative;
    margin-top: 80px;
    font-size: 26px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #001D38;
}

.education-content > h1 > i {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    color: #615CFD;
}

.education-content > h2 {
    margin-top: 8px;
    font-size: 25px;
    text-align: center;
    color: #3c3c3c;
}

.education-chart {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.education-chart > div {
    padding: 3px 0 27px 22px;
    margin-top: 0;
    border-left: 2px solid #615CFD;
    position: relative;
}

.education-chart > div:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -11px;
    top: 0;
    background: #fff;
    border: 2px solid #615CFD;
}

.education-chart > div > h2 {
    font-size: 16px;
    color: rgb(122, 122, 122);
    width: 96px;
}

.education-chart > div > h3 {
    font-style: italic;
    font-size: 14px;
}

#Skills {
    height: 100%;
    width: 50%;
    position: relative;
}

.skill-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-content > h1 {
    position: relative;
    margin-top: 80px;
    font-size: 26px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #001D38;
}

.skill-content > h1 > i {
    width: 25px;
    height: 25px;
    margin-right: 8px;
    color: #615CFD;
}

.skill-content > h2 {
    margin-top: 8px;
    font-size: 25px;
    text-align: center;
    color: #3c3c3c;
}

.skill-content > div {
    display: flex;
    margin-top: 50px;
}

.frontend > h3 {
    text-align: center;
    margin-bottom: 20px;
}

.frontend > ul {
    margin-left: 50px;
    margin-bottom: 20px;
}

.frontend > ul > i {
    margin-top: 8px;
    color: #3a3737;
}

.backend {
    margin-left: 12px;
}

.backend > h3 {
    text-align: center;
    margin-bottom: 20px;
}

.backend > ul {
    margin-left: 50px;
    margin-bottom: 20px;
}

.backend > ul > i {
    margin-top: 8px;
    color: #3a3737;
}

.icon {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon > i {
    font-size: 30px;
    margin-right: 10px;

}

#Project {
    position: relative;
    height: 670px;
    padding-top: 12px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

#Project > h1 {
    position: relative;
    margin-top: 5%;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    color: #001D38;
}

#Project > h1:before {
    position: absolute;
    height: 60px;
    width: 1px;
    background: #181818;
    content: '';
    left: 50%;
    bottom: 100%;
}

.project-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.project-content {
    display: flex;
}

.project-content > div {
    background: #2a2a2a;
    margin-left: 3%;
    height: 30vh;
    width: 30vw;
    transition-property: all;
    transition-duration: .5s;
}

.project-content > div:hover {
    transform: scale(1.02);
    transition-property: all;
    transition-duration: .5s;
    box-shadow: 4px 4px 8px 2px #1c1717e8;
}


.img {
    height: 50%;
    border-radius: 0 0 12px 12px;
}

.box-one > .img {
    background: url("../assets/dasboard.png");
    background-size: cover;
    background-position: center;
}

.box-two > .img {
    background: url("../assets/purple___pink_3d_illustration_group_project_presentation_template__1__1.png");
    background-size: cover;
    background-position: center;
}

.box-three > .img {
    background: url("../assets/purple___pink_3d_illustration_group_project_presentation_template__4__1.png");
    background-size: cover;
    background-position: center;
}


.project-details {
    margin: 3px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #727272;
}

.project-details > div {
    display: flex;
    justify-content: space-around;
}

.project-details > h3 {
    color: #e3dcdc;
}

.project-details > div > a > i {
    font-size: 25px;
    color: #727272;
}

.project-details > div > a > i:hover {
    color: #615CFD;
}

.assignment {
    height: 300px;
}

#container {
    height: 25vh;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}

#slider-container {
    height: 250px;
    width: 85vw;
    max-width: 1400px;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

#slider-container .btn {
    position: absolute;
    top: calc(50% - 30px);
    height: 30px;
    width: 30px;
    border-left: 8px solid #615CFD;
    border-top: 8px solid #615CFD;

}

#slider-container .btn:hover {
    transform: scale(1.2);
}

#slider-container .btn.inactive {
    border-color: rgb(153, 121, 126)
}

#slider-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px
}

#slider-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
}

#slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%;
    transition: all .5s;
}

#slider-container #slider .slide {
    height: 85%;
    margin: auto 10px;
    display: grid;
    place-items: center;
    background-size: cover;
    background-position: center;
}

#slider-container #slider .slide:nth-child(1) {
    background-image: url("../assets/assignment/1.PNG");
}

#slider-container #slider .slide:nth-child(2) {
    background-image: url("../assets/assignment/1.PNG");
}

#slider-container #slider .slide:nth-child(3) {
    background-image: url("../assets/assignment/1.PNG");
}

#slider-container #slider .slide:nth-child(4) {
    background-image: url("../assets/assignment/1.PNG");
}

#slider-container #slider .slide:nth-child(5) {
    background-image: url("../assets/assignment/1.PNG");
}

#slider-container #slider .slide:nth-child(6) {
    background-image: url("../assets/assignment/1.PNG");
}

#slider-container #slider .slide:nth-child(7) {
    background-image: url("../assets/assignment/1.PNG");
}

#slider-container #slider .slide:nth-child(8) {
    background-image: url("../assets/assignment/1.PNG");
}

#slider-container #slider .slide:nth-child(9) {
    background-image: url("../assets/assignment/1.PNG");
}

#slider-container #slider .slide:nth-child(10) {
    background-image: url("../assets/assignment/1.PNG");
}

#slider-container #slider .slide span {
    color: white;
    font-size: 150px;
}

#Contact {
    position: relative;
    height: 350px;
    background: #181818;
    display: flex;
    flex-direction: column;
}

.contact-info {
    height: 50%;
    display: flex;
}

.contact-media {
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-box-icon {
    height: 100%;
    width: 25%;
}

.info-box {
    height: 100%;
    width: 25%;

    display: flex;
    align-items: center;
    color: white;
}

.info-box > i {
    margin-right: 5px;
    font-size: 30px;
}

.info-box > div {
    display: flex;
    flex-direction: column;
}

.other-box {
    width: 50%;
    height: 30%;
}

.name-icon {
    font-family: Creepster, cursive;
    font-size: 35px;
    position: relative;
    margin-top: 20%;
    margin-left: 9%;
    color: #edc606;
}

.other-box {
    color: white;
    text-align: center;
}

.contact-media-icon {
    margin-bottom: 10px;
}

.contact-media-icon > ul {
    display: flex;
}

.contact-media-icon > ul > li {
    list-style: none;
}

.contact-media-icon > ul > li {
    list-style: none;
    margin: 4px;
}

.contact-media-icon > ul > li > a > i {
    font-size: 30px;
    color: white;
}

.contact-media-icon > ul > li > a > i:hover {
    color: #615CFD;
}


@media only screen and (min-width: 1100px) {

    #slider-container #slider .slide {
        width: calc(2.5% - 20px);
    }

}

@media only screen and (max-width: 1100px) {

    #slider-container #slider .slide {
        width: calc(3.3333333% - 20px);
    }

}

@media only screen and (max-width: 900px) {

    #slider-container #slider .slide {
        width: calc(5% - 20px);
    }

}

@media only screen and (max-width: 550px) {

    #slider-container #slider .slide {
        width: calc(10% - 20px);
    }

}

@media all and (max-width: 1350px) {

    .about-content > div:nth-child(2) > img {
        width: 280px;
    }

    #About {
        height: 430px;
    }

    .img-container > h1 {
        font-size: 9rem;
    }

    .about-content > div:nth-child(1) > h1 {
        font-size: 38px;
    }

    #Project {
        height: 745px;
    }

    .project-container {
        width: 70%;
    }

    .project-content > div {
        margin-top: 3%;
        width: 45vw;
        height: 45vh;
    }
}

@media all and (max-width: 980px) {

    /*nav {*/
    /*    display: flex;*/
    /*}*/
    #manu {
        display: inline-block;
        color: white;
        font-size: 30px;
    }

    /**/
    /*#manu:active {*/
    /*    color: red;*/
    /*}*/
    /*#manu:active .sticky{*/
    /*    background: red !important;*/
    /*}*/
    nav > ul {
        display: none;
        /*flex-direction: column;*/
    }

    .main-text > h1 {
        font-size: 2.8em;
    }

    .main-text > h2 {
        margin-top: 5%;
        font-size: 1.2em;
    }

    .social-media > ul > li > a > i {
        font-size: 2.3rem;
    }

    #About {
        height: 400px;
    }

    .img-container > h1 {
        font-size: 7rem;
    }

    .img-container > img {
        align-self: self-end;
        width: 150px;
    }

    .about-content > div:nth-child(2) > img {
        width: 240px;
    }

    .about-content > div:nth-child(1) > h1 {
        font-size: 34px;
        margin-top: 56px;
    }

    .education-skill-container {
        height: 1200px;

    }

    .education-skill-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #Project {
        margin-top: 22px;
        height: 1855px;
    }

    .project-container {
        margin-top: 0;
    }

    .project-content {
        margin-top: 10%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .name-icon {
        font-size: 32px;
        margin-top: 25%;
        margin-left: 15%;
    }

    .info-box {
        width: 20%;
    }

    .info-box > div > h3 {
        font-size: 15px;
    }

    .info-box > div > h4 {
        font-size: 13px;
    }
}

@media all and (max-width: 650px) {
    .img-container > h1 {
        display: none;
    }

    .img-container > img {
        display: none;
    }

    .about-content {
        top: 0;
        height: 100%;
    }

    .about-content > div:nth-child(1) > h1 {
        font-size: 28px;
    }

    .about-content > div:nth-child(2) > img {
        width: 186px;
        margin-top: 55%;
    }

    button {
        font-size: 12px;
        padding: 12px 38px;
    }

    #Project {
        margin-top: 65px;
        height: 1610px;
    }


    .project-content > div {
        margin-top: 3%;
        width: 65vw;
        height: 40vh;
    }

    .info-box {
        width: 21%;
    }

    .name-icon {
        font-size: 23px;
        margin-left: 24%;
        margin-top: 60px;
    }

    .info-box > i {
        margin-right: 4px;
        font-size: 20px;
        margin-top: 0;
    }

    .info-box > div > h3 {
        font-size: 14px;
    }

    .info-box > div > h4 {
        font-size: 10px;
    }


}

@media all and (max-width: 520px) {

    .social-media {
        bottom: -28px;
    }

    .about-content > div:nth-child(1) {
        margin-top: 50px;
    }

    .about-content > div:nth-child(1) > h1 {
        font-size: 20px;
    }

    .about-content > div:nth-child(2) > img {
        display: none;
    }

    .about-content > div:nth-child(1) {
        margin-top: 0;
        width: 250%;
    }

    .about-content > div:nth-child(1) > h1 {
        font-size: 28px;
        margin-top: -40px;
    }

    .about-content > div:nth-child(1) > p {
        margin-top: -32px;
    }

    .education-skill-container {
        margin-top: -60px;
    }

    #Project {
        margin-top: 110px;
    }

    #Project > h1 {
        font-size: 32px;
    }

    .info-box {
        display: none;
    }

    .info-box-icon {
        width: 112%;
    }

    .name-icon {
        font-size: 34px;
        margin-left: 24%;
    }

    .contact-info {
        height: 44%;
    }

    .contact-media-icon > ul > li > a > i {
        font-size: 24px;
    }
}

@media all and (max-width: 390px) {
    .main-text > h1 {
        font-size: 2.5em;
    }

    .social-media > ul > li > a > i {
        font-size: 1.9rem;
    }

    button {
        padding: 10px 38px;
    }

    .about-content > div:nth-child(1) > button {
        top: 5%;
    }

    #Project {
        margin-top: 154px;
        height: 1555px;
    }

    .name-icon {
        margin-left: 20%;
    }

    .rights {
        font-size: 11px;
    }
}