/*::-webkit-scrollbar {*/
/*    display: none;*/
/*}*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
    background-color: #181818;
}

#logo {
    font-size: 30px;
    color: #fff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding-top: 10px;
    padding-left: 12%;
    padding-right: 12%;
    position: fixed;
    z-index: 5;
}

nav > ul > li {
    list-style: none;
    display: inline-block;
    padding: 0 25px;
    z-index: 7;
}

nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

nav > ul > li > a:hover {
    color: #615CFD;
    transition: 0.3s;
}

.sticky {
    height: 60px;
    background: #181818;
    transition: 0.3s;
}

.main-container {
    width: 50%;
    height: 50%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.main-text {
    text-align: center;
    margin-top: 6em;
}

.main-text > h1 {
    font-size: 3.6em;
    color: #ffffff;
    font-family: 'Exo 2', sans-serif;
}

.main-text > h2 {
    margin-top: 3%;
    color: yellow;
    letter-spacing: 2px;
}

.social-media {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.social-media > ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-media > ul > li {
    margin-right: 3%;
}

.social-media > ul > li > a > i {
    font-size: 2.5rem;
    color: white;
    transition-property: all;
    transition-duration: .3s;
}

.social-media > ul > li > a > i:hover {
    transform: scale(1.2);
    color: #615CFD;
    transition-property: all;
    transition-duration: .3s;
}

@media all and (max-width: 980px) {

}