* {
    margin: 0;
    padding: 0;
}

.play{
    width: 100%;
    height: 100vh;
    background: rgb(0 0 0 / 49%);
    position: absolute;
    z-index: 1;
}

.play>button{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 110px;
    height: 45px;
    background: black;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    border-color: white;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url("../assets/background/rsz_41524.jpg");
    background-size: cover;
    background-repeat: repeat-x;
}

.background>img{
    height: 260px;
    width: 200px;
    margin-top: 660px;
    margin-left: 78px;
}
