* {
    margin: 0;
    padding: 0;
}
.background{
    width: 100%;
    height: 100vh;
    background-image: url("../assets/background/rsz_41524.jpg");
    background-size: cover;
    background-repeat: repeat-x;
}

.background>img{
    height: 260px;
    width: 200px;
    margin-top: 660px;
    margin-left: 78px;
}
